@import "../Variables.scss";

.moviesList {
  .tpl {
    .wrapper {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      .movieItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        flex-basis: calc(100% / 4 - 20px);
        margin: 0 10px 40px;
        overflow: hidden;
        height: 450px;
        padding: 0;
        min-width: 300px;
        .movieLink {
          height: inherit;
          width: 100%;
          .noImage {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: inherit;
            margin: 0 auto;
            font-size: 100px;
          }
          .icon.liked {
            position: absolute;
            top: 8px;
            right: 8px;
            fill: $third-color;
            font-size: 40px;
          }
          .backgroundImage {
            background-repeat: no-repeat;
            background-size: cover;
            height: inherit;
            width: 100%;
            transition: 0.25s ease scale;
          }
          .infoWrapper {
            margin: 12px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            .year {
              color: $third-color;
              font-weight: 300;
              letter-spacing: 0px;
            }
            .title {
              line-height: 1.1;
              font-weight: 500;
              white-space: nowrap;
              color: $font-color;
              font-size: 1.5em;
            }
          }
          .gradient {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 100%;
            background: linear-gradient(
              180deg,
              rgba(34, 40, 49, 0) 55%,
              rgba(34, 40, 49, 1) 96%
            );
            z-index: 1;
            transition: 0.25s ease background;
          }
          &:hover {
            cursor: pointer;
            .backgroundImage {
              scale: 1.03;
            }
            .gradient {
              background: linear-gradient(
                180deg,
                rgba(34, 40, 49, 0) 55%,
                rgba(34, 40, 49, 1) 115%
              );
            }
          }
        }
      }
    }
  }
}

.noResults {
  line-height: 1;
}
