@import "./Variables.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  .container {
    .tpl {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
    }
  }
}
