// Default colors

$main-color: #212730;
$secondary-color: #393e46;
$third-color: #ffd369;
$fourth-color: #74777d;
$font-color: #eeeeee;

// Default font settings
$font-size-default: 16px;
$font-weight-default: 400;

$small: 480px;
$medium: 768px;
$large: 1024px;
$extraLarge: 1200px;
$extraExtraLarge: 1440px;
